<!DOCTYPE html>
<html ng-app="myapp">
<head>
<meta charset="utf-8" />
<title>综合练习_首页</title>
<link rel="stylesheet" href="css/bootstrap.css">
<script src="js/jquery.min.js"></script>
<link href="css/app.css" rel="stylesheet" />
<link href="css/style.css" rel="stylesheet" />
<script src="js/angular.min.js"></script>
<script src="js/angular-route.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/app.js"></script>
<script>
        angular.module("myapp", ['ngRoute'])
        	.config(function($routeProvider){
	                $routeProvider
	                        .when('/',{template:''})
	                        .when('/introduce',{
	                            templateUrl:'view/introduce.html',
	                            //controller:"introducectrl"
	                        })
	                        .when('/news', {
	                            templateUrl: 'view/news.html',
	                            //controller:"newsctrl"
	                        })
	                        .otherwise({redirectTo:'/'});
	           })
	        .controller('newsctrl',function ($scope) {
	            $scope.user={name: "别无所求", headpic:"images/a0.jpg", textinfo:"", fans:250,place:" 石家庄，河北",hitnum:"2k",profession:"IT大牛"};
	        })
        	.controller('introducectrl',function ($scope) {
	            $scope.user={name: "别无所求", headpic:"images/a0.jpg", textinfo:"", fans:250,place:" 石家庄，河北",hitnum:"2k",profession:"IT大牛"};
                $scope.userInfo = [
                    { name: "小鱼儿", headpic:"images/a9.jpg", textinfo:"", fans:250},
                    { name: "大张李", headpic:"images/a5.jpg", textinfo:"", fans:250},
                    { name: "我是黄小明", headpic:"images/a3.jpg", textinfo:"", fans:250},
                    { name: "帕金森", headpic:"images/a6.jpg", textinfo:"", fans:250},
                    { name: "请叫我大帅柯", headpic:"images/a4.jpg", textinfo:"", fans:250},
                    { name: "月亮的影子", headpic:"images/a2.jpg", textinfo:"", fans:250}
                ];
	        })
            .controller("mainctrl", function ($scope) {
            	$scope.tab=[
            	    {title:'首页',span:'glyphicon-home'},
		            {title:'信息',span:'glyphicon-file'},
		            {title:'简介',span:'glyphicon-envelope'},
		        ];
            	$scope.tabs=[		            
		            {title:'操作',span:'glyphicon-cog',text1:'设置栏目',text2:'更多设置',text3:'分割线'},
		        ];
		        
            	$scope.fans = [
					{ id:"3",name: "小王", job: "设计师，博客" ,image:"images/a1.jpg"},
					{ id:"2",name: "张琳", job: "作家，杂志编辑",image:"images/a2.jpg"},
					{ id:"4",name: "李小明", job: "艺术总监，电影剪辑",image:"images/a3.jpg"},
					{ id:"1",name: "赵大城", job: "音乐家，运动员",image:"images/a4.jpg"}
				];
            	$scope.user={name: "别无所求", headpic:"images/a0.jpg", fans:250,place:" 石家庄，河北",hitnum:"2k",profession:"IT大牛"};
                $scope.usercomment = [
                	{id:"4",image:"images/a9.jpg", names: "小鱼儿", time: "现在",
						comment:"不哭不闹不炫耀，安安分分一起老。不骂不吵不张扬，安安分分一起过。就算逃到天涯海角，也决不回头。就算哭到世界灭亡，也决不后悔。我想依靠你 永远在我旁边带路。我想牵着你 永远只会为你带路。偶尔有点小任性，为了等待你安抚。偶尔有点小情绪，为了引起你注意。所有的一切、都不是什么誓言。所谓的一切、到头来都是欺骗。蓦然、心锁的钥匙新了不实用了。蓦然、心锁的钥匙旧了可以换了。" ,
						img_c:"images/a5.jpg",time_c:"10m ago",names_c:"大张李",comment_c:"希望你能每天都快乐"},
					{id:"1",image:"images/a6.jpg", names: "帕金森", time: "3h ago",
						comment:"日动影移，日穿帘隙，时间悄无声息地离去。不知不觉，那么多渐行渐远的岁月，如今只剩下依稀的背影，翻过岁月的篱墙，面对那些悄然散场的旧时光，莞尔一笑，只言感恩岁月，不诉岁月离殇。" ,imgbtn:"images/c5.jpg"},
					{id:"2",image:"images/a4.jpg", names: "请叫我大帅柯", time: "4h ago",
						comment:"这世界上的很多事，有时候和我们眼睛看到的不一样。很多时候要我们慢慢地体会才会知道。我们不能急着看结果，就像种下一棵小花，你要耐心地等它破土发芽，慢慢长大，才能看到它开出美丽的花。尘世间的事也一样，要在时间里发酵，岁月里沉香，人生那些百思不得其解的事情，到后来时间会一一给你答案。岁月有时候特别用心良苦，它时常会给你很多磨难，其实它是想让你变得更好。" },
					{id:"3",image:"images/a2.jpg", names: "月亮的影子",grade:"VIP", time: "9h ago",
						comment:"孩子的时候，我们简单地把人划分为好人或坏人。只是后来长大了，知道了，好人没有你想象的那么好，坏人也没有你想象的那么坏。正如，外表坚强的人，也许内心很脆弱，而外表柔弱的人，却有着一颗强韧的心。",samll:"--穿起越云层的时间" ,
						yuan:"源标题"}
                ];
//              $scope.del=function (index) {
//              $scope.items.splice(index, 1);
//          	};
            })
            .directive('show', function (){
					return {
						restrict: 'EA',
						replace:true,
						transclude:true,
						template:'<div ng-transclude></div>',
						controller:function(){
							var tabs=[];
							this.goto=function(slectedtab){
								angular.forEach(tabs,function(tab){
									if(slectedtab!=tab){
										tab.showme=false;
									}
								})
							};
							this.add=function(tab){
								tabs.push(tab)
							}
						}
					}
				})
				.directive('showmore',function(){
					return {
						restrict:'EA',
						replace:true,
						transclude:true,
						require:'^?show',
						scope:{
							title:'=showtitle'
						},
						template:'<div>'+
						'<div class="title" ng-click="toggle()"  ><ul class="nav nav-pills nav-stacked" role="tablist"><li class="ys1"><a class="dropdown-toggle" data-toggle="dropdown" href="#"> <span class="glyphicon glyphicon-cog"></span>&nbsp;{{title}}</a></li></ul></div>'+
						'<div class="ysl" ng-show="showme" ng-transclude></div>'+
						'</div>',
						link:function(scope,element,attrs,acc){
							scope.showme=false;
							acc.add(scope);
							scope.toggle=function(){
								scope.showme=!scope.showme;
								acc.goto(scope);
							}
						}
					}
				})
            
</script>
</head>
<body ng-controller="mainctrl">
<div>
	<div class="navbar-fixed-top ys2">
		<div class="row">
			<div class="toper col-md-2 column bg cen">
				<img src="images/logo.png"><span>我的APP</span3></span>
			</div>
			<div class="toper col-md-10 column bg2">
				<div class="pull-left ys5">
					<a href="#"><span class="glyphicon glyphicon-list"></span></a>
					<a href="#"><span class="glyphicon glyphicon-user"></span></a>
				</div>
				<div class="pull-left toper_m">
					<a href="#"><b>我的文章</b></a>
					<a href="#"><b>最新动态</b></a>
				</div>
				<div class="pull-right toper_m">
					<a href="#"><span class="glyphicon glyphicon-bell"></span></a>
					<a href="#">{{user.name}}</a>
					<a href="#"><img src="{{user.headpic}}" class="img-circle tou"></a>
				</div>
			</div>
		</div>
	</div>
	
</div>
<div class="container-fluid down">
	<div class="row">
		<!--左栏-->
		<div class="col-md-2 column bg ys2">
			<!--头像-->
			<div class="cen">
				<img src="{{user.headpic}}" class="img-circle">
				<h5>{{user.name}}</h5><h6>{{user.profession}}</h6>
			</div>
			<!--导航栏-->
			<ul class="nav nav-pills nav-stacked" role="tablist">
			    <li class="ys1" ng-repeat="i in tab"><a href="#"><span class="glyphicon {{i.span}}"></span>{{i.title}}</a></li>
			    <!--<li class="ys1 dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						<span class="glyphicon glyphicon-cog"></span>操作
					</a>
					<ul class="dropdown-menu">
						<li><a href="#">设置栏目</a></li>
						<li><a href="#">更多设置</a></li>
						<li><a href="#">分割线</a></li>
					</ul>
				</li>-->
			 </ul>
			<show >
				<showmore class="nav" ng-repeat="x in tabs" showtitle="x.title">
				<ul style="margin-left:18%">
					<li class="ys1"><a>{{x.text1}}</a></li>
					<li class="ys1"><a>{{x.text2}}</a></li>
					<li class="ys1"><a>{{x.text3}}</a></li><br/>
				</ul>
				</showmore>
			</show>
		</div>
		<div class="col-md-10 column ys4">
			<div class="row">
				<!--中栏-->
				<div class="col-md-10 column ys3 h" style="padding:0px;margin:0px;">
					<!--中栏顶部-->
					<div class="m_toper">
						 <div class="m1">
							  <div class="row">
								<div class="col-sm-7">
								  <a href="" class="pull-left">
									<img src="{{user.headpic}}" class="img-circle">
								  </a>
								  <div class="m2">
									<div>{{user.name}}<br/><small>{{user.place}}</small></div>
									<a href="" class="btn btn-sm btn-success btn-rounded" ng-click="del()">支持她！</a>
								  </div>
								</div>
								<div class="col-sm-5">
								  <div class="pull-right text-center zan">
									<a href="">
									  <span class="h3">2k </span>
									  <small> 点赞 </small>
									</a> ,
									<a href="">
									  <span class="h3">{{user.fans}}</span>
									  <small> 粉丝</small>
									</a>
								  </div>
								</div>
							  </div>
						 </div>
					</div>
					<!--中栏底部-->
					<div class="m_nav">
						<ul>
							<li><a href="#" class="btn btn-success btn-group-sm">最新动态</a></li>
							<li><a href="#/introduce" class="btn btn-success btn-group-sm">简介</a></li>
							<li><a href="#/news" class="btn btn-success btn-group-sm">消息</a></li>
						</ul>
					</div>
					<div ng-view></div>
					<div class="m_bottom">
						<div class="padder">      
							<div class="streamline b-l b-info m-l-lg m-b padder-v">
							  <div ng-repeat="c in usercomment | orderBy:'id' ">
									<div>
										<a class="pull-left thumb-sm avatar m-l-n-md">
											<img src="{{c.image}}" class="img-circle" alt="...">

										</a>
										<div class="m-l-lg m-b-lg">
											<div class="m-b-xs">
												<a href="" class="h4">{{c.names}}</a>
												<label class="label bg-light m-l-xs">{{c.grade}}</label>
												<span class="text-muted m-l-sm pull-right">
									 {{c.time}}
									</span>
											</div>
											<div>
												<div class="m-b">
													{{c.comment}}
												</div>
												<small>{{c.samll}} <cite title="Source Title">{{c.yuan}}</cite></small>
												<img src="{{c.imgbtn}}" class="b b-a wrapper-xs bg-white img-responsive">
												<div class="panel panel-default m-t-md m-b-n-sm pos-rlt">
													<form>
														<textarea class="form-control no-border" rows="3" placeholder="Your comment..."></textarea>
													</form>
													<div class="panel-footer bg-light lter">
														<button class="btn btn-info pull-right btn-sm">评论</button>
														<ul class="nav nav-pills nav-sm">
															<li><a href=""><i class="fa fa-camera text-muted"></i></a></li>
															<li><a href=""><i class="fa fa-video-camera text-muted"></i></a></li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!-- .comment-reply -->
									<div class="m-l-lg">
										<a class="pull-left thumb-sm ">
											<img src="{{c.img_c}}" class="img-circle">
										</a>

										<div class="m-l-xxl panel b-a">
											<div class="panel-heading pos-rlt">

												<span class="arrow left pull-up"></span>
												<span class="text-muted m-l-sm pull-right">
									 {{c.time_c}}
									</span>
												<a href="">{{c.names_c}}</a>
												{{c.comment_c}}
											</div>
										</div>
									</div>
									<!-- / .comment-reply -->
								</div>
							</div>
						</div>
					</div>

					<div class="clear wrapper b-t bg-light ">
				  <span class="pull-right">版本v1.0.0 <a href="#app" class="m-l-sm text-muted"><i class="fa fa-long-arrow-up"></i></a></span>
				  Copyright © 2017 .版权所有：所谓伊人
				</div>
				</div>
				<!--右栏-->
				<div class="col-md-2 column ys4 h text-center" style="padding:0px;margin:0px;">
					<h4>我的粉丝</h4>
				  <ul>				  			  
					<li ng-repeat="p in fans | orderBy:'id'">
					<a herf=""><img src="{{p.image}}" class="img-circle"></a>
						<div>
						  <div><a href="">{{p.name}}</a></div>
						  {{p.job}}</div>
					</li>
				  </ul>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
